h1 {
    background-color: #489fb5;
    color: #ffa62b;
    text-align: center;


}

body {
    background-color: #ede7e3;
    color: #16697a;
    text-align: left;
    font-weight: 200;
    margin: 0;
    padding: 0;
}



.login {
    text-align: right;
}

.mainimg {
    width: 200%;
    image-resolution: 1;
    border-radius: 50px;
    border-width: 100px;
    border: rgb(0, 0, 0);
    border-style: solid;
}

.container {
    position: relative;
    max-width: 400px;
    margin-left: 28%;
}

.text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 5px;
    margin-left: 50%;
    width: 43%;
}

button {
    border-radius: 10px;
}

button:hover {
    background-color: #000;
    color: #ffffff;
}

table {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-width: 100px;
    border: rgb(0, 0, 0);
    border-style: dotted;
    margin-left: 1%;
}

article {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.card {
    width: 210px;
    border-radius: 5px;
    text-align: center;
}

.newVocable {
    margin-left: 1%;
}