h1 {
    background-color: #81c3d7;
    color: #16425b;
    text-align: center;


}

body {
    background-color: #d9dcd6;
    color: #16425b;
    text-align: left;
    font-weight: 200;
    margin: 0;
    padding: 0;
}



.login {
    text-align: right;
}

.mainimg {
    width: 200%;
    image-resolution: 1;
    border-radius: 50px;
    border-width: 100px;
    border: rgb(0, 0, 0);
    border-style: solid;
}

.container {
    position: relative;
    max-width: 400px;
    margin-left: 28%;
}

.text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 5px;
    margin-left: 50%;
    width: 43%;
}

button {
    background-color: #81c3d7 ;
    color: #16425b;
}

button:hover {
    background-color: #16425b;
    color: #81c3d7;
}

table {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-width: 100px;
    border: rgb(0, 0, 0);
    border-style: dotted;
    margin-left: 3%;
    word-spacing: 10%;
    width: 50%;
    text-align: left;
}

article {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.card {
    width: 210px;
    border-radius: 5px;
    text-align: center;
}

.newVocabulary {
    margin-left: 3%;
}


thead{
    background-color: #3a7ca5;
}
tr:nth-child(even) {
    background-color: #81c3d7;
}
.delete{
    width: 51px;
}

.edit{
    width: 40px;

}

.search{
margin-left: 39.5%;
margin-bottom: 0%;
}